<div class="column">
    <div class="btn-group">
        <h4>Filter by Type:</h4>
        <button (click)="filter('appetizer')">Appetizer</button>
        <button (click)="filter('mainDish')">Main Dish</button>
        <button (click)="filter('dessert')">Dessert</button>
        <button (click)="filter('snack')">Snack</button>
        <button (click)="filter('default')">All</button>
        <!-- <button class="showAll">Default</button> -->
    </div>
</div>

<div class="column">
    <div class="btn-group">
        <h4>Sort by:</h4>
        <button (click)="filter('likes')">Likes</button>
        <button (click)="filter('dislikes')">Dislikes</button>
        <button (click)="filter('oldest')">Oldest</button>
        <button (click)="filter('newest')">Newest</button>
       
    </div>
</div>

 <span *ngIf="singleRecipe.length == 0">
    There are no available recipes of this type.
</span>
<div id="container" *ngFor="let recipe of singleRecipe | paginate: { itemsPerPage: 10, currentPage: page}">


    <div class="product-details">
        <h1 style="font-size: 45px">{{recipe.name}}</h1><br>

        <h4>{{recipe.dateCreated.substring(0, 10)}}</h4>



        <div class="info-calories calories-info">
            <div class="row">
                <div class="column">
                    <h1> <strong>Nutrition facts:</strong></h1>
                    <h6>For 1 serving</h6>
                    <ul>
                        <li><strong>Calories : </strong>{{recipe.caloriesServing}} </li>
                        <li><strong>Carbohydrates : </strong>{{recipe.carbsServing}}</li>
                        <li><strong>Fats: </strong>{{recipe.fatServing}}</li>
                        <li><strong>Protein: </strong>{{recipe.proteinServing}}</li>
                    </ul>
                    <a routerLink="/details/{{recipe._id}}" (click)="getSingleRecipe(recipe._id)" class="learnmore">
                        Details
                    </a>
                </div>

                <div class="column">
                    <div class="row2">
                        <div class="column">
                            <p><button class="like-btn" (click)="like(recipe._id)">Like</button></p>
                            <p> {{recipe.likes}} <i class="fa fa-thumbs-o-up like-count" aria-hidden="true"></i> </p>
                        </div>
                        <div class="column">
                            <p><button class="dislike-btn" (click)="dislike(recipe._id)">Dislike</button></p>
                            <p> {{recipe.dislikes}} <i class="fa fa-thumbs-o-down " aria-hidden="true"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="product-image">

        <img src="{{recipe.imageUrl}}" alt="" *ngIf="recipe.imageUrl != ''">

        <img src="../../assets/staticImages/appetizer.jpg" *ngIf="recipe.imageUrl == '' && recipe.dishType == 'Appetizer'">

        <img src="../../assets/staticImages/main.jpg" *ngIf="recipe.imageUrl == '' && recipe.dishType == 'Main Dish'">

        <img src="../../assets/staticImages/dessert.jpg" *ngIf="recipe.imageUrl == '' && recipe.dishType == 'Dessert'">

        <img src="../../assets/staticImages/snack.jpg" *ngIf="recipe.imageUrl == '' && recipe.dishType == 'Snack'">
        
        <div class="info">
            <h2> Ingredients</h2>
            <ul>
                <li *ngFor="let ingredient of recipe.ingredients"><strong> {{ingredient}} </strong> </li>


            </ul>
        </div>


    </div>

</div>

<pagination-controls (pageChange)="page = $event"></pagination-controls>