<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img">

                    <img *ngIf="data.gender == 'Female'"
                        src="../../assets/staticImages/female.jpg"
                        alt="" />
                    <img *ngIf="data.gender == 'Male'"
                        src="../../assets/staticImages/male.jpg"
                        alt="" />

                    <div class="file btn btn-lg btn-primary">
                        Change Photo
                        <input type="file" name="file" />
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h4>
                        {{data.firstName}} {{data.lastName}}
                    </h4>

                    <h4>
                        {{data.email}}
                    </h4>

                    <h6> {{data.level}} Member </h6>
                    <h6>Rank: {{data.rank}} </h6>
                    <h6>Rating: {{data.rating}} </h6>


                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-work">
                    <p>{{data.firstName}}'s activity</p>
                    <a>Recipes Created: {{data.posted.length}}</a><br />
                    <a>Recipes Liked: {{data.liked.length}}</a><br />
                    <a>Recipes Disliked: {{data.disliked}}</a><br />
                    <a> Total Likes of Recipes: {{data.totalRecipeLikes}} </a><br />
                    <a> Total Dislikes of Recipes: {{data.totalRecipeDislikes}} </a><br />
                    <!-- <p>SKILLS</p>
                    <a href="">Web Designer</a><br/>
                    <a href="">Web Developer</a><br/>
                    <a href="">WordPress</a><br/>
                    <a href="">WooCommerce</a><br/>
                    <a href="">PHP, .Net</a><br/> -->
                </div>
            </div>
            <div class="col-md-4">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <h4>Created</h4>

                        <div *ngIf="data.posted.length == 0">
                            This user has no posts yet
                        </div>

                        <div class="row" *ngFor="let recipe of data.posted | paginate: { id: 'pagination-1', itemsPerPage: 4, currentPage: pagePosted }">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title">{{recipe.name}}</h5>
                                    <a routerLink="/details/{{recipe._id}}" class="btn btn-primary">Details</a>
                                </div>
                                <div class="card-footer text-muted">
                                    {{date}}
                                </div>
                            </div>
                        </div>

                        <pagination-controls  *ngIf="data.posted.length != 0" id="pagination-1" (pageChange)="pagePosted = $event"></pagination-controls>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <h4>Liked</h4>

                        <div *ngIf="data.liked.length == 0">
                            This user hasn't liked anything yet
                        </div>

                        <div class="row" *ngFor="let recipe of data.liked | paginate: { id: 'pagination-2', itemsPerPage: 4, currentPage: pageLiked }">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5 class="card-title">{{recipe.name}}</h5>
                                    <a routerLink="/details/{{recipe._id}}" class="btn btn-primary">Details</a>
                                </div>
                                <div class="card-footer text-muted">
                                    {{dateLiked}}
                                </div>
                            </div>
                        </div>

                        <pagination-controls *ngIf="data.liked.length != 0" id="pagination-2" (pageChange)="pageLiked = $event"></pagination-controls>

                    </div>
                </div>

            </div>
        </div>
    </form>
</div>