<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="navbar navbar-expand-md navbar-dark bg-dark mb-4" role="navigation">
    <a class="navbar-brand" href="/">Cook-Fit</a>                                 <!--TODO-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="hasUser">
                <a class="nav-link" routerLink="/myProfile">Profile <span class="" ></span></a>   <!--TODO-->
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/catalog">Catalog</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" routerLink="/create" *ngIf="hasUser">Create</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/about">About</a>  <!--TODO-->
            </li>


        </ul>
        <div class="left">
            <ul class="navbar-nav mr-auto left">
                <li>
                    <form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search by author or recipe" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </li>

                <li class="nav-item" *ngIf="hasNoUser">  
                    <a class="nav-link" routerLink="/login">Login </a> <!--class active - to make the current button active --> 
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/register" *ngIf="hasNoUser">Register</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  *ngIf="hasUser">Hello, {{user}} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" (click)="logout()" *ngIf="hasUser">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
