<section id="deatils-page">
    <div class="wrapper">
      <div class="product-img">
        <img
          src="https://media.istockphoto.com/photos/delicious-meal-on-a-black-plate-top-view-copy-space-picture-id1165399909?k=20&m=1165399909&s=612x612&w=0&h=5g5C4BDoxaejlIr4r_8cV6jDYXzN8n1-JkIW3LgPUuA=">
        <div class="product-text-details">
          <h1><strong>Omlet</strong></h1>
          <h2>Author: <a href=#>valentin_duchev@abv.bg</a></h2>
          <h4>Type: <strong>Appetizer</strong> </h4>
          <h5>Servings: <strong> 1 </strong></h5>
  
        </div>
  
  
        <span class="first">
          <a href="#"></a>
          <!-- <a>cska</a> -->
          <p> 6 <i class="fa fa-thumbs-o-up like-count" aria-hidden="true"></i> </p>
        </span>
        <span class="second">
          <p> <i class="fa fa-thumbs-o-down disilke-count-dislike " aria-hidden="true"></i>3</p>
  
          <a href="#"></a>
        </span>
  
        <div class="product-btn">
  
  
          <!-- Only for registered user and creator of the housing offer-->
  
        </div>
      </div>
      <div class="product-info">
        <div class="product-text">
  
          <div class="preparation-div">
            <h4>Preparation</h4>
            <p>
              First mix the eggs in a bowl, then put the eggs in the hot and covered with oil pan. Then spread the
              cheese all over the eggs in the pan and wait until the cheese melt.
            </p>
          </div>
          <div class="ingredients-div">
            <h4>Ingredients</h4>
            <p>
              Eggs, Bread, Oil, Cheese
            </p>
          </div>
  
        </div>
        <div class="nutri-details-heading">
          <h4>Nutrition details</h4>
        </div>
  
        <div class="row-details-macros">
          <div class="column-details-macros">
            <div>
              <ul class="check-list">
                <h5>For 1 Serving</h5>
                <li><strong>Calories: </strong>772</li>
                <li><strong>Carbohydrates: </strong>44</li>
                <li><strong>Fat: </strong> 19</li>
                <li><strong>Protein: </strong> 49</li>
              </ul>
            </div>
          </div>
          <div class="column-details-macros second-macros-details">
            <div>
  
              <ul class="check-list">
                <h5>For the whole recipe</h5>
                <li><strong>Calories: </strong>772</li>
                <li><strong>Carbohydrates: </strong>44</li>
                <li><strong>Fat: </strong>19</li>
                <li><strong>Protein: </strong>49</li>
              </ul>
  
            </div>
          </div>
        </div>
  
      </div>
    </div>
  
  
    
  
  </section>