<div class="about-section">
    <h1>About Us</h1>
    <p>Cook-Fit is a full-stack application made for the Angular course in SoftUni - March 2022</p>
    <p> It uses a custom made Back-End API based on Node.JS and Express with MongoDB </p>
</div>

<div class="row">

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>About me</h2>
                <p>Valentin Duchev</p>
                <p>Dobrich, Bulgaria</p>
                <p>valentin_duchev@abv.bg</p>
                <p>Student Technical University of Varna, Bulgara and in SoftUni</p>
            </div>
        </div>
    </div>

    <div class="column">
        <div class="card">
            <div class="container">
                <h2>About the project</h2>
                <p>It's functionalities include Login, Register, Create Recipe, Like and Dislike Recipe (for non-author
                    of the recipe),
                    Edit and Delete (for author of the recipe), see Profile Page of every user,
                    Catalog with all recipes with filter options, Search by Recipe name or by author of recipe, Search
                    for user by email.
                </p>
                <p>
                    It uses JWT for authentication, bcrypt to hash password on the back-end, it has validation for all
                    forms on the front-end and on the back-end.
                </p>

            </div>
        </div>
    </div>
</div>