<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->
<div>
    <form>
        <div class="container contact">
            <div class="row">
                <div class="col-md-3">
                    <div class="contact-info">
                        <!-- <img src="" alt="image" /> -->
                        <h2>Create your own healthy recipe!</h2>
                        <!-- <h4>You can create your favourite recipe here and it will be stored in your profile!</h4> -->
                        <!-- <img  src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK3BKYucUQh0J_erRVa8TutvtSpci06FQKbA&usqp=CAU">
                    <img class="image-create-form" src="https://www.desktopbackground.org/download/360x640/2010/05/10/15208_healthy-food-wallpapers-hd-free-download-food-pictures_1920x1200_h.jpg"> -->

                    </div>
                </div>
                <div class="col-md-9">
                    <div class="contact-form">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="fname">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="fname" placeholder="Enter First Name"
                                    name="fname">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="lname">Type</label>
                            <select class="form-control select">
                                <option class="select-dish" selected disabled>
                                    Please select your recipe type
                                </option>
                                <option>Appetizer</option>
                                <option>Main Dish</option>
                                <option>Dessert</option>
                                <option>Snack</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Image URL:</label>
                            <div class="col-sm-10">
                                <input type="email" class="form-control" id="email" placeholder="Enter an image URL"
                                    name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="email">Servings:</label>
                            <div class="col-sm-10">
                                <input type="number" class="form-control" id="servings" placeholder="4" name="servings">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="comment">Ingredients:</label>
                            <h6 class="type-enter-after-each">
                                *Please type enter after each ingredient*
                            </h6>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="ingredients"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="comment">Preparation:</label>
                            <h6 class="type-enter-after-each">
                                *Please type enter after each step of the preparation*
                            </h6>
                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="preparation"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="" for="comment"> &nbsp; Macronutrients - for the whole recipe</label>
                            <div class="col-sm-offset-2 col-sm-10">
                                Calories: <input type="number" class="macros-input" name="caloriesWhole">
                                Carbs: <input type="number" class="macros-input" name="carbsWhole">
                                Fat: <input type="number" class="macros-input" name="fatWhole">
                                Protein: <input type="number" class="macros-input" name="proteinWhole">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="" for="comment"> &nbsp;  Macronutrients - for one serving</label>
                            <div class="col-sm-offset-2 col-sm-10">
                                Calories: <input type="number" class="macros-input" name="caloriesServing">
                                Carbs: <input type="number" class="macros-input" name="carbsServing">
                                Fat: <input type="number" class="macros-input" name="fatServing">
                                Protein: <input type="number" class="macros-input" name="proteinServing">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="" for="comment"> &nbsp; Additional Information:</label>

                            <div class="col-sm-10">
                                <textarea class="form-control" rows="5" id="detaios"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>